<nav class="navbar navbar-dark bg-dark">
  <a class="navbar-brand" href="/">Roam</a>
  <div class="nav justify-content-right">
    <a class="nav-link" href="/signup">Signup</a>
    <a class="nav-link" href="/login">Login</a>
  </div>
</nav>
