<nav class="navbar navbar-dark bg-dark">
  <a class="navbar-brand" href="/">Roam</a>
  <div class="nav justify-content-right">
    <% if(user) { %>
      <a class="nav-link" href="/users/<%= user %>">Profile</a>
      <a class="nav-link" href="/logout">Logout</a>
    <% } else { %>
      <a class="nav-link" href="/signup">Signup</a>
      <a class="nav-link" href="/login">Login</a>
    <% } %>
  </div>
</nav>
