<!DOCTYPE html>

<html>
  <head>
    <meta charset="utf-8">
    <title>Roam</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/style.css"
  </head>
  <body>
    <div class="container-fluid">
      <nav class="navbar navbar-dark bg-dark">
        <a class="navbar-brand" href="/">Roam</a>
        <div class="nav justify-content-right">
          <a class="nav-link" href="/signup">Signup</a>
          <a class="nav-link" href="/login">Login</a>
        </div>
      </nav>
      <img class="trippy-mountain center-block" src="https://static.pexels.com/photos/206359/pexels-photo-206359.jpeg" alt="mountains and purple skies"/>
    </div>
  </body>
</html>
